<!DOCTYPE html>
<html>
<head>
    <link href="/assests/style.css" rel="stylesheet" type="text/css" />
    <title>Contact us</title>
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>For any help please contact us at the given email</h1>
    <p>vishal.choudhury@harman.com</p>
</body>

</html>