<!DOCTYPE html>
<html>
<head>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
    <title>Contact us</title>
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>Thanks for getting in touch</h1>
    <p> You contatced <%= data.who %> in the <%= data.department%> department</p>
    <p> We will reply you at <%= data.email %></p>
    
</body>

</html>