<!DOCTYPE html>
<html>
<head>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
  
    <title>HomePage</title>
</head>

<body>
    <%include partials/nav.ejs%>
    <h1>Node JS is the best server side scripting language in the world</h1>
    <p>You need to know javascript to code in NodeJS</p>
</body>

</html>