<!DOCTYPE html>
<html>
<head>
    <link href="../assets/style.css" rel="stylesheet" type="text/css" />
    <title>HomePage</title>
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>Welcome to the profile of <%= person %></h1>
    <p>Age: <%= data.age %></p>
    <p>Job: <%= data.job %></p>
    <h2> Hobbies </h2>
    <ul>
        <% data.hobbies.forEach(function(item) {%>
        
        <li><%=item%></li>
        
        <%});%>
    </ul>
</body>

</html>