  body{background:skyblue; font-family: verdana; padding: 30px; color: ufff;}
  h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
  h2{font-size: 38px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
  p,li,ul{font-size: 16px; text-align: center;}